@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 203.88 85.83% 52.94%;
    --destructive: 0 84.2% 60.2%;
    --warning: 50.64 93.16% 54.12%;
    --success: 85.04 57.68% 52.75%;
    --secondary: 0 0% 60%;
    --border: var(--secondary);
    --input: var(--secondary);
    --muted: var(--secondary);
    --accent: var(--secondary);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --muted-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --ring: var(--foreground);

    --primary-foreground: var(--background);
    --destructive-foreground: var(--background);
    --success-foreground: var(--background);
    --warning-foreground: var(--background);

    --radius: 0;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 100%;
    --secondary: 0 0% 70%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .nes-btn.is-success {
    @apply text-foreground dark:text-background hover:text-foreground;
  }
}
